:root {
  --background: oklch(1 0 0);
  --foreground: oklch(0.147 0.004 49.25);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.147 0.004 49.25);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.147 0.004 49.25);
  --primary: oklch(0.565 0.111 49.6);
  --primary-foreground: oklch(0.97 0.01 255);
  --secondary: oklch(0.97 0 106);
  --secondary-foreground: oklch(51.67% 0.045 255.6);
  --muted: oklch(0.97 0.001 106.424);
  --muted-foreground: oklch(0.44 0.01 74);
  --accent: oklch(97.962% 0.01567 73.569);
  --accent-foreground: oklch(0.553 0.013 58.071);
  --destructive: oklch(0.577 0.245 27.325);
  --destructive-foreground: oklch(0.577 0.245 27.325);
  --border: oklch(0.923 0.003 48.717);
  --input: oklch(0.923 0.003 48.717);
  --ring: oklch(0.709 0.01 56.259);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --radius: 0.625rem;
  --sidebar: oklch(0.97 0.01 255);
  --sidebar-foreground: oklch(0.147 0.004 49.25);
  --sidebar-primary: oklch(0.565 0.111 49.6);
  --sidebar-primary-foreground: oklch(0.97 0.01 255);
  --sidebar-accent: oklch(0.97 0.001 106.424);
  --sidebar-accent-foreground: oklch(0.565 0.111 49.6);
  --sidebar-border: oklch(0.923 0.003 48.717);
  --sidebar-ring: oklch(0.709 0.01 56.259);
}

.dark {
  --background: oklch(0.141 0.005 285.823);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.21 0.006 285.885);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.21 0.006 285.885);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.565 0.111 49.6);
  --primary-foreground: oklch(0.97 0.01 255);
  --secondary: oklch(0.15 0 49);
  --secondary-foreground: oklch(88.135% 0.05856 257.216);
  --muted: oklch(0.268 0.007 34.298);
  --muted-foreground: oklch(0.98 0 106);
  --accent: oklch(0.268 0.007 34.298);
  --accent-foreground: oklch(0.709 0.01 56.259);
  --destructive: oklch(0.64 0.21 25);
  --destructive-foreground: oklch(0.64 0.21 25);
  --border: oklch(0.268 0.007 34.298);
  --input: oklch(0.268 0.007 34.298);
  --ring: oklch(0.553 0.013 58.071);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.27 0.01 34);
  --sidebar-foreground: oklch(0.97 0.01 255);
  --sidebar-primary: oklch(0.565 0.111 49.6);
  --sidebar-primary-foreground: oklch(0.97 0.01 255);
  --sidebar-accent: oklch(0.268 0.007 34.298);
  --sidebar-accent-foreground: oklch(0.97 0.01 255);
  --sidebar-border: oklch(0.268 0.007 34.298);
  --sidebar-ring: oklch(0.553 0.013 58.071);
}
